<nav id="sidebar" [ngClass]="{ close: isOpen  }">
  <ul>
    <li>
      <span class="logo">Countries</span>
      <button
        (click)="toggleSidebar()"
        id="toggle-btn"
        [ngClass]="{ rotate: isOpen }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="undefined"
        >
          <path
            d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"
          />
        </svg>
      </button>
    </li>
    <li
      routerLink="countries/by-capital"
      routerLinkActive=""
      aria-current="true"
      class=""
    >
      <div>
        <i class="ri-copyright-line"></i>
        <span>Por Capital</span>
      </div>
    </li>
    <li
      routerLink="countries/by-regional"
      routerLinkActive=""
      aria-current="true"
      class=""
    >
      <div>
        <i class="ri-registered-line"></i>
        <span>Por Región</span>
      </div>
    </li>
    <li
      routerLink="countries/by-country"
      routerLinkActive=""
      aria-current="true"
      class=""
    >
      <div>
        <i class="ri-product-hunt-line"></i>
        <span>Por Pais</span>
      </div>
    </li>
  </ul>
</nav>


<!-- <div
  class="fixed h-full top-0 left-0 bg-black w-52"
  [ngClass]="{ close: isOpen, open: !isOpen }"
>
  <div class="flex items-center w-full text-white">
    <i class="ri-map-fill h-12 min-w-16 text-center leading-[50px]"></i>
    <span class="text-xl tracking-widest font-semibold">Countries</span>
  </div>
  <ul class="w-full h-full text-sm font-medium text-gray-900 pt-5">
    <li
      routerLink="countries/by-capital"
      routerLinkActive="bg-slate-600"
      aria-current="true"
      class="relative font-medium cursor-pointer text-white"
    >
      <div
        class="flex items-center w-full hover:bg-slate-600 transition-colors duration-300 ease-in-out"
      >
        <i
          class="ri-copyright-line text-xl h-12 min-w-16 text-center leading-[50px]"
        ></i>
        <span class="tracking-[3px]">Por Capital</span>
      </div>
    </li>
    <li
      routerLink="countries/by-regional"
      routerLinkActive="bg-slate-600"
      aria-current="true"
      class="relative font-medium cursor-pointer text-white"
    >
      <div
        class="flex items-center w-full hover:bg-slate-600 transition-colors duration-300 ease-in-out"
      >
        <i
          class="ri-registered-line text-xl h-12 min-w-16 text-center leading-[50px]"
        ></i>
        <span class="tracking-[3px]">Por Región</span>
      </div>
    </li>
    <li
      routerLink="countries/by-country"
      routerLinkActive="bg-slate-600"
      aria-current="true"
      class="relative font-medium cursor-pointer text-white"
    >
      <div
        class="flex items-center w-full hover:bg-slate-600 transition-colors duration-300 ease-in-out"
      >
        <i
          class="ri-product-hunt-line text-xl h-12 min-w-16 text-center leading-[50px]"
        ></i>
        <span class="tracking-[3px]">Por Pais</span>
      </div>
    </li>
  </ul>
</div> -->


