<div class="pl-4 pt-4">
  <h1 aria-current="true" class="text-3xl font-bold my-4 text-white">Países</h1>
  <hr />

  <ul
    class="my-4 w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white"
  >
    <li
      routerLink="countries/by-capital"
      routerLinkActive="bg-red-500"
      aria-current="true"
      class="w-full px-4 py-2 font-medium text-left rtl:text-right text-white bg-gray-800 border-b border-gray-600 cursor-pointer"
    >
      Por Capital
    </li>
    <li
      routerLink="countries/by-regional"
      routerLinkActive="bg-red-500"
      aria-current="true"
      class="w-full px-4 py-2 font-medium text-left rtl:text-right text-white bg-gray-800 border-b border-gray-600 cursor-pointer"
    >
      Por Región
    </li>
    <li
      routerLink="countries/by-country"
      routerLinkActive="bg-red-500"
      aria-current="true"
      class="w-full px-4 py-2 font-medium text-left rtl:text-right text-white bg-gray-800 border-b border-gray-600 cursor-pointer"
    >
      Por Pais
    </li>
  </ul>
</div>
